@using PlantDiseaseX.Core
@using PlantDiseaseX.Core.Entities
@model PlantViewModel
@inject IUnitOfWork unitOfWork
@{
    ViewData["Title"] = "Details";
}
@{
    var Categories = new SelectList(unitOfWork.Repository<Plantcategory>().GetAllAsync().Result, "Id", "Name");
    var Seasons1 = new SelectList(unitOfWork.Repository<Season>().GetAllAsync().Result, "Id", "Name");

}
@{
    ViewData["Title"] = "Delete";
}


<div class="alert alert-warning btn-danger alert-dismissible fade show animation-on-hover" role="alert" style="background-color:#FF1A1A; font-size:large">
    <strong>Attention!</strong>  Are You Sure You Want To Delete @Model.Name Plant...!?
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="tim-icons icon-simple-remove"></i>
    </button>
</div>
<div class="container">
	<form method="post" asp-action="Delete" >
		<input asp-for="Id"  hidden />
        
       
      
        <div class="form-row">

            <div class="form-group  p-3 col-md-5">
                <div class="card form-row " style="background-color: rgba(0, 240, 196, 0.1)">
                    
                    <img class="card-img-top "  src="~/@Model.PictureUrl" alt="Plant Image">
                    <div class="card-body">
                        <h3 class="card-title">@Model.Name</h3>
                        <p class="card-text">@Model.Description</p>
                    </div>
                </div>
            </div>
            <div class="form-group p-3 col-md-7">
                <div class="card" style="background-color: rgba(0, 240, 196, 0.1)">
                    <div class="card-body">
                        <h4 class="card-title">Additional Details</h4>
                        <ul class=" list-group-flush">
                            <li class="form-group"><strong>Diseases:</strong> @Model.diseases</li>
                            <li class="form-group"><strong>General Use:</strong> @Model.GeneralUse</li>
                            <li class="form-group"><strong>Properties:</strong> @Model.Properties</li>
                            <li class="form-group"><strong>Warnings:</strong> @Model.Warnings</li>
                            <li class="form-group"><strong>Medical Use:</strong> @Model.MedicalUse</li>
                            <li class="form-group"><strong>Treatment:</strong> @Model.treatment</li>
                            <li class="form-group"><strong>Season:</strong> @Model.PlantSeason</li>
                            <div class="form-group">
                                <label asp-for="PlantCategory" class="col-form-label"></label>
                                <select class="form-control" asp-for="PlantCategoryId" asp-items="Categories">
                                    <option value="@null">-- Select Category --</option>
                                </select>
                            </div>
                            <div class="form-group">

                                <label asp-for="PlantSeason" asp-items="Seasons1" class="col-form-label"></label>
                                <select class="form-control" asp-for="PlantSeasonId" asp-items="Seasons1">
                                    <option value="@null">-- Select Season --</option>
                                </select>

                            </div>


                        </ul>
                    </div>
                </div>
            </div>

        </div>

		<input type="submit" value="Delete" class="btn btn-danger" />
		<a asp-action="Index" class="btn btn-light">Back To List</a>
	</form>
</div>