@model Admin.PlantDiseaseX.Controllers.HomeIndexViewModel



<div class="container">
    <div class="row">

        <div class="col-md-12" id="clock">

            <p class="date">{{ date }}</p>
            <p class="time">{{ time }}</p>
            <p class="text">Graduation Project</p>

        </div>

        
        
        <hr class="mt-3 bg-black" />
        <p class="mt-3">Users.... <br /> </p>

        <div class="col-md-5 mt-4 py-4 mx-2" style="background-color:#00b45b !important">
            <a asp-controller="Home" asp-action="Index">
                <p>Currently Logged-In Users:</p>
            </a>
            @if (ViewBag.LoggedInUsers != null && ViewBag.LoggedInUsers.Count > 0)
            {
                <ul>
                    @foreach (ApplicationUser user in ViewBag.LoggedInUsers)
                    {
                        <li> Full_Name :  @user.FName  @user.LName <br /></li>
                        <li> Email: @user.Email </li>
                    }
                </ul>
            }
            else
            {
                <p>No users currently logged in</p>
            }
        </div>



        <div class="col-md-3 mt-4 py-4 mx-2" style="background-color:#00b45b !important">
            <a asp-controller="Home" asp-action="Index">
                <p>Total Users Signed In: <br /></p>
                <ul>
                    <li>  @ViewBag.SignedInUsersCount </li>
                </ul>
            </a>
        </div>

        <hr class="mt-3 bg-black" />
          <p class="mt-3">Main.... <br /> </p>
        <div class="col-md-3 mt-4 py-4 mx-2" style="background-color:#00b45b8a !important">

            <a asp-controller="Plant" asp-action="Index">
                <p >Total Plants: <br /> </p>
                <ul>
                    <li> @Model.Plants.Count</li>
                </ul>
            </a>
        </div>
        <div class="col-md-3 mt-4 py-4 mx-2" style="background-color:#ff000094 !important">
            <a asp-controller="NewsArticle" asp-action="Index">
                <p>Total News Articles: <br /> </p>
                <ul>
                    <li>@Model.NewsArticles.Count</li>
                </ul>
            </a>
        </div>
        <div class="col-md-3 mt-4 py-4 mx-2 " style="background-color:#1d8cf8bd">
            <a asp-controller="CornDisease" asp-action="Index">
                <p>Total Corn Diseases: <br /> </p>
                <ul>
                    <li>@Model.CornDiseases.Count</li>
                </ul>
            </a>
        </div>

        <hr class="mt-3 bg-black" />

        <p class="mt-3">Realted Plant.... <br /> </p>
        <div class="col-md-3 mt-4 py-4 mx-2 " style="background-color:#72e1ff52 !important">
            <a asp-controller="Category" asp-action="Index">
                <p>Total Categories: <br /> </p>
                <ul>
                    <li>@Model.Categories.Count</li>
                </ul>
            </a>
        </div>

        <div class="col-md-3 mt-4 py-4 mx-2 " style="background-color:#1a61ab80">
            <a asp-controller="Season" asp-action="Index">
                <p>Total Seasons: <br /> </p>
                <ul>
                    <li>@Model.Seasons.Count</li>
                </ul>
            </a>
        </div>
        <hr class="mt-3 bg-black " />
        <p class="mt-3">Users Messages.... <br /> </p>

        <div class="col-md-3 mt-4 py-4 mx-2 " style="background-color:#adb5bd75">
            <a asp-controller="ContactUs" asp-action="Index">
                <p>Total Messages: <br /> </p>
                <ul>
                    <li>@Model.Messages.Count</li>
                </ul>
            </a>
        </div>
    </div>



</div>



<style>
    html, body {
        height: 100%;
    }

    body {
        background: #0f3854;
        background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
        background-size: 100%;
    }

    p {
        margin: 0;
        padding: 0;
    }

    #clock {
        font-family: 'Share Tech Mono', monospace;
        color: #daf6ff;
        text-align: center;
        position: relative;
        left: 570px;
        top: 100px;
        transform: translate(-50%, -50%);
        text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
    }

    .time {
        letter-spacing: 0.05em;
        font-size: 80px;
        padding: 5px 0;
    }

    .date {
        letter-spacing: 0.1em;
        font-size: 24px;
    }

    .text {
        letter-spacing: 0.1em;
        font-size: 25px;
        padding: 25px 0 0;
    }

    .container {
        font-size: 20px
    }

    .col-md-3 {
        border-radius: 3%
    }

        .col-md-3:hover {
            transform: translate(-5px, -10px);
        }


     .col-md-5{
            border-radius: 3%
     }

      .col-md-5:hover {
            transform: translate(-5px, -10px);
        }


</style>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        var clock = new Vue({
            el: '#clock',
            data: {
                time: '',
                date: ''
            }
        });

        var week = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'];
        var timerID = setInterval(updateTime, 1000);
        updateTime();
        function updateTime() {
            var cd = new Date();
            var hours = cd.getHours();
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // 12-hour clock with 0 representing 12
            clock.time = zeroPadding(hours, 2) + ':' + zeroPadding(cd.getMinutes(), 2) + ':' + zeroPadding(cd.getSeconds(), 2) + ' ' + ampm;
            clock.date = zeroPadding(cd.getFullYear(), 4) + '-' + zeroPadding(cd.getMonth() + 1, 2) + '-' + zeroPadding(cd.getDate(), 2) + ' ' + week[cd.getDay()];
        };

        function zeroPadding(num, digit) {
            var zero = '';
            for (var i = 0; i < digit; i++) {
                zero += '0';
            }
            return (zero + num).slice(-digit);
        }
    </script>
}