

 @model CornDiseasecsViewModel
 @using PlantDiseaseX.Core
@using PlantDiseaseX.Core.Entities
@inject IUnitOfWork unitOfWork
@{
    ViewData["Title"] = "Details";
}


<div class="alert alert-info btn-success  animation-on-hover" role="alert" style="background-color:#89CFF0	; font-size:larger">
    @Model.name's CornDisease Details
</div>
<div class=" card" style="background-color: rgba(0, 240, 196, 0.1)">
   


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="card-img-top img-thumbnail w-75 my-3 " src="~/@Model.corndiseasepicture1" alt="Plant Image">
                <img class="card-img-top img-thumbnail w-75 my-3 " src="~/@Model.corndiseasepicture2" alt="Plant Image">
                <img class="card-img-top img-thumbnail w-75 my-3 " src="~/@Model.corndiseasepicture3" alt="Plant Image">

            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">Additional Details</h4>
                    <ul class=" list-group-flush">
                        <h3 class="card-title">@Model.name</h3>
                        <li class="form-group"><strong>AppropriateTreatment:</strong> @Model.appropriatetreatment</li>
                        <li class="form-group"><strong>General Use:</strong> @Model.reasons</li>
                        <li class="form-group"><strong>Properties:</strong> @Model.symptoms</li>
                        <li class="form-group"><strong>Warnings:</strong> @Model.prevention</li>
                        <li class="form-group"><strong>Medical Use:</strong> @Model.management</li>
                        <li class="form-group"><strong>Treatment:</strong> @Model.riskfactors</li>
                        <li class="form-group"><strong>Season:</strong> @Model.relateddiseases</li>
                        <li class="form-group"><strong>Season:</strong> @Model.researchreferences</li>
                        <li class="form-group"><strong>Season:</strong> @Model.additionalinfo</li>
                        <li class="form-group"><strong>Season:</strong> @Model.diagnostictests</li>
                        <li class="form-group"><strong>Season:</strong> @Model.environmentalconditions</li>
                        <li class="form-group"><strong>Season:</strong> @Model.hostplants</li>
                        <li class="form-group"><strong>Season:</strong> @Model.economicimpact</li>
                        <li class="form-group"><strong>Season:</strong> @Model.controlmethods</li>


                    </ul>

                </div>
            </div>

        </div>
    </div>


    <div class="form-group p-3 col-md-7">
        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </div>

</div>


