 @model IReadOnlyList<CornDiseasecsViewModel>

@{
    ViewData["Title"] = "CornDiseases";
}

<div class="logo" style="position: relative;">
    <a href="javascript:void(0)" class="simple-text logo-mini" style="position: absolute; top: -10px; left: 0;">
        <img src="~/images/logo/logo1.png" alt="Logo" style="max-height: 50px;">
    </a>
    <h1 style="margin-left: 70px;">
        Data of CornDiseases
    </h1>
</div>

<a asp-action="Create" class="btn btn-default animation-on-hover">
    <i class="tim-icons icon-simple-add"></i>
    Add  CornDisease

</a>


<br />

@if (Model.Any())
{
    <div class="container tableFather ">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th class="text-center">#</th>
                    <th>Picture1</th>
                    <th>Picture2</th>
                    <th>Picture3</th>
                    <th>Name</th>
                    <th class="limit-words">AppropriateTreatment</th>
                    <th class="limit-words">Reasons</th>
                    <th class="limit-words">Symptoms</th>
                    <th class="limit-words">Prevention</th>
                    <th class="limit-words">Management</th>
                    <th class="limit-words">Riskfactors</th>
                    <th class="limit-words">RelatedDiseases</th>
                    <th class="limit-words">ResearchReferences</th>
                    <th class="limit-words">AdditionalInfo</th>
                    <th class="limit-words">DiagnosticTests</th>
                    <th class="limit-words">GeographicDistribution</th>
                    <th class="limit-words">EnvironmentalConditions</th>
                    <th class="limit-words">HostPlants</th>
                    <th class="limit-words">PathogenType</th>
                    <th class="limit-words">EconomicImpact</th>
                    <th class="limit-words">ControlMethods</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var corndisease in Model)
                {
                    <tr>
                        <td>
                            <div class="btn-group me-3" role="group">

                                <a class="btn btn-info btn-sm btn-icon  animation-on-hover" asp-action="Edit" asp-route-id="@corndisease.Id"><i class="fas fa-edit"></i></a>
                                <a class="btn btn-success btn-sm btn-icon animation-on-hover" asp-action="Details" asp-route-id="@corndisease.Id"><i class="fas fa-eye"></i></a>
                                <a class="btn btn-danger btn-sm btn-icon animation-on-hover" asp-action="Delete" asp-route-id="@corndisease.Id"><i class="fas fa-trash"></i></a>
                            </div>
                        </td>
                        <td class="text-center ">@corndisease.Id</td>
                        <td>
                            @* src="~/@plant.PictureUrl" *@
                            <img class="img-thumbnail" class="w-100" src="~/@(corndisease.corndiseasepicture1?? "DefaultNewsArticle1.jpg")" />


                        </td>
                        <td>
                            @* src="~/@plant.PictureUrl" *@
                            <img class="img-thumbnail" class="w-100" src="~/@(corndisease.corndiseasepicture2?? "DefaultNewsArticle2.jpg")" />
                        </td>
                        <td>
                            @* src="~/@plant.PictureUrl" *@
                            <img class="img-thumbnail" class="w-100" src="~/@(corndisease.corndiseasepicture3?? "DefaultNewsArticle2.jpg")" />

                        </td>
                        <td id="description">@corndisease.name</td>
                        <td class="limit-words">@corndisease.appropriatetreatment</td>
                        <td class="limit-words">@corndisease.reasons</td>
                        <td class="limit-words">@corndisease.symptoms</td>
                        <td class="limit-words">@corndisease.prevention</td>
                        <td class="limit-words">@corndisease.management</td>
                        <td class="limit-words">@corndisease.riskfactors</td>
                        <td class="limit-words">@corndisease.relateddiseases</td>
                        <td class="limit-words">@corndisease.researchreferences</td>
                        <td class="limit-words">@corndisease.additionalinfo</td>
                        <td class="limit-words">@corndisease.diagnostictests</td>
                        <td class="limit-words">@corndisease.geographicdistribution</td>
                        <td class="limit-words">@corndisease.environmentalconditions</td>
                        <td class="limit-words">@corndisease.hostplants</td>
                        <td class="limit-words">@corndisease.pathogentype</td>
                        <td class="limit-words">@corndisease.economicimpact</td>
                        <td class="limit-words">@corndisease.controlmethods</td>



                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="mt-3 p-3 alert-warning">
        <h2>There is no NewsArticle!</h2>
    </div>
}
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        // Function to truncate text by words
        function truncateByWords(text, wordLimit) {
            var words = text.split(' ');
            if (words.length > wordLimit) {
                return words.slice(0, wordLimit).join(' ') + '...';
            }
            return text;
        }

        // Select all elements with the class 'limit-words'
        var elements = document.querySelectorAll('.limit-words');

        // Apply truncation to each element
        elements.forEach(function (element) {
            element.textContent = truncateByWords(element.textContent, 3);
        });
    </script>
}
